/*

    Fundo: bege claro (#FAF3E0, #FFF8F0)
    Texto: marrom escuro (#4B3832)
    Botão: verde oliva (#6B8E23) ou laranja suave (#FF7F50)

*/

/*
    *   Paleta de cores:
        verde:#49a09d
        lilás:#5f2c82 

        hsl(80, 60%, 50%)
*/

*{
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color:#4B3832;
    color:#6B8E23; 
    height: 100vh;
    width: 100vw;
}

body img{
    width: 50%;
    display: block;;
}

main{
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color:#FAF3E0;
    width: 300px;
    height: 600px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.33);

    transition: width 0.5s , height 0.5s;
    transition-timing-function: ease-in-out;
    
}

section#login > div#imagem{
    background: #4B3832 url(../images/myatezhny.jpg) no-repeat;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
    background-position: left bottom;
    display: block;
    
    
}

section#login > div#formulario{
    display: block;
    padding: 10px;
    
    
}

div#formulario h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario p{
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 20px;
    line-height: 1.5;
}

form > input[type="submit"]{
    display: block;
    font-size: 1em;
    width:100%;
    height: 30px;
    background-color: #6B8E23 ;
    border: none;
    color: wheat;
    border-radius: 5px;
    margin-top: 15px;
}

form > input[type="submit"]:hover{
    background-color: #FF7F50  ;
    cursor: pointer;
}

form > div.campo {
    text-align: center;
    height: 30px;
/*  background-color: ;  */
    display: block;
    margin: 5px 0px 5px 0px;
                        /* gpt */
    display: flex;
    height: auto;
    align-items: center;
    
}

div.campo > input:focus-within{
    background-color: #e9fae0;
    color: #4B3832;
}

div.campo > label{
    display: none;
}

div.campo > span {
    color: #4B3832;
/*  background-color: ;  */
    font-size: 2em;
    width: 40px;
    padding: 3px;
    border-radius: 50% 50%;
}

div.campo > input{
    background-color: #4B3832;
    color: #FAF3E0;
    font-size: 1em;
    width: 100%;
    border-radius: 5px;


}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color:  #FAF3E0 ;
    border: 1px solid #6B8E23 ;
    color: gray;
    text-decoration: none;
    padding-top:2.5px;
    margin-top: 5px;
    box-shadow: 1px 1px 3px #6B8E23;
    border-radius: 10px;
}

form > a.botao:hover{
    cursor: pointer;
    background-color: #4B3832;
    color: wheat;
}

form > a.botao > span {
    font-size: 1.1em; 
}
